# Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=
EXPO_PUBLIC_STRIPE_SECRET_KEY=

# PayPal
EXPO_PUBLIC_PAYPAL_CLIENT_ID=
EXPO_PUBLIC_PAYPAL_SECRET=
